.list-item {
	color: blue;
	padding: 16px;
	margin-bottom: 100px;
	font-size: 50px;
	background-color: #DDD;
	color: white;
	
}

body {
	background-color: #EEE;
}
.list-item-transparent {
	background-color: gradient;
	color: #FFF;
	border: none;
}
.list-item-pattern {
	background-image: url(image/bg.jpg);
	background-size: 20%;
	height: 100px;
	
}
.list-item-image {
	background-image: url(image/bg1.jpeg);
	height: 100px;
	background-repeat: repeat;
	background-size: cover;
	background-position: 0-250px;
}
.list-item-parallax {
	background-image: url(image/ntFmJUZ8tw3ULD3tkBaAtf.jpg);
	height: 500px;
	background-size: cover;
	background-position: -200px;
	background-attachment: fixed;
}
}