.button {
	text-decoration: none;
	font-family: Arial, sans-serif;
	color: #333;
	padding: 8px 16px;
	display: inline-block;
	background-color: #DDD;
	transition: background-color 0.5s;
}
.button:hover {
	color: #FFF;
	background-color: #5dd5ca47;
}

.album-item {
	width: 200px;
	height: 200px;
	background: url('https://loremflickr.com/200/200');
	background-size: cover;
	background-position: center;
}

.album-item .overlay {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all 0.5s;
}
.album-item .overlay img {
	transform: scale(0.1);
	transition: all 0.3s;
}
.album-item:hover .overlay {
	opacity: 1;
}
.album-item:hover .overlay img {
	transform: scale(1);
}